body{
    padding: 0;
    margin: 0;
    font-family: monospace;
}
.number-box{
    display: flex;
    margin: 15px;
    height: 100px;
    width: 100px;
    border: 3px solid #feabb9;
    border-radius: 5px;
    justify-content: center;
    align-content: center;
}
.flex-box{
    display: flex;

}
.answerbox{
    display: flex;
}
.button{  
    font-family: monospace;
    font-size: 18px;
    color: rgba(126, 36, 1, 0.6);
    height: 106px;
    width: 106px;
    margin: 15px;
    border: 2px solid #fa9d00;
    border-radius: 5px;
    background-color: #ffd08d;

}
#insert{
    font-family: monospace;
    font-size: 18px;
    color: rgba(126, 36, 1, 0.6);
    height: 106px;
    width: 106px;
    margin: 15px;
    border: 2px solid #fa9d00;
    border-radius: 5px;
    background-color: #ffd08d;
    
}
#number-input{
    display: flex;
    font-size:  32px;
    height: 100px;
    width: 100px;
    border: none;
    outline: none;
    background-color: transparent;
    justify-content: center;
    align-content: center;
    
}
.correction{
    font-size: 100px;
    color: green;
    display: none;
}
#number1, #number2, #number3, #number4{
    display: flex;
    font-size: 32px;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: rgb(0 ,144 , 158);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#reset-btn{
    margin-top: 0;
}